<div class="col-md-6 col-md-offset-3"> 
<h3>Category Master</h3>
<div class="adduser-logoutbox">
<h4><a href="category/add">Add Category</a></h4>
</div>
<br>
{{#if result}}
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>            
            <td>Edit</td>
            <td>Delete</td>
        </tr>

    </thead>
   <tbody class="tbody">
        {{#each result}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td><a href="category/edit/{{this._id}}">Edit</a></td>
           <td><a href="category/delete/{{this._id}}">Delete</a></td>
           <td><a href="category/showproduct/{{this._id}}/0">Show Product</a></td>
        </tr>
        {{/each}}
        
   </tbody>
</table>
{{else}}
<h2>No Category found</h2>
{{/if}}
</div>
